<!-- Loop over each object in the posts array -->
{{#each posts as |post| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <p>{{post.user.name}} on {{format_date post.date_created}}</p>
  </div>
  <div class="col-md-7">
    <h2>
      <a href="/post/{{post.id}}">{{post.name}}</a>
    </h2>
  </div>
</div>
{{/each}}
